/* 플레이어 관련 */

.video_box {
    height: 800px;
    margin: 50px 200px;
    height: 1000px;
    /* border: 1px solid blue; */
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start;
    align-items: center ;
}

.player {
    width: 500px;
    height: 400px;
    margin-top: 50px;
}

.list {
    margin-top: 20px;
    list-style-type: none;
    font-size: 20px;
}

.header h1{
    margin: 40px 0px;
    margin-left: auto;
    margin-right: auto;
    color: red;
}

.new-link {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    
}