{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'video/style.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="video_box">
        <div class="header">
            <h1> {{video.title}} </h1>
        </div>
        <div class="row">
            <div>
                <div id="player"></div>
            </div>
        </div>
        <a class="new-link" href="{% url 'video:list' %} "> 목록 </a>
    </div>
</div>

{% endblock %}

{% block jslink %}
<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: '{{ video.video_key }}'
        });
    }
</script>
{% endblock %}
